<div class="container">
    <mat-toolbar>
        <mat-toolbar-row>
            <img src="https://img.icons8.com/?size=33&id=Wq62foDY9ZbH&format=png&color=000000">
            <h1><strong>FINRISK</strong></h1>
            <span class="example-spacer"></span>
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">settings</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
    <br>
    <form class="example-form">
        <mat-form-field class="example-full-width custom-rounded-input">
            <mat-label>Cerca</mat-label>
            <input matInput placeholder="Inserisci la tua ricerca">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>          
    </form>
</div>