.filters {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: transparent;
    transition: transform 0.7s ease;
}

.example-form {
    width: 100%;
    max-width: 380px !important;
    display: flex;
    flex-direction: column;
    padding-top: 14px;
}

.example-full-width {
    width: 100%;
}

.showUnderLine {
    border-bottom: 1px solid var(--fourth-color);
    background-color: var(--secondary-color);
}

:host ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 28px;
    color: var(--secondary-color) !important;
    border-radius: 28px;
    background-color: var(--secondary-color);
}

h1 {
    padding-left: 14px;
}

table {
    width: 100%;
    min-width: 0px !important;
    max-width: 1000px !important;
    border-radius: 28px !important;
    margin: auto;
}

.list-item {
    display: flex;
    align-items: center;
}

.green {
    color: var(--primary-color);
}

.red {
    color: var(--seventh-color);
}

.mat-mdc-header-row th:first-child,
.mat-mdc-header-row th:last-child {
    /* Stili applicati al primo mat-header-row */
    border-radius: 28px 28px 0px 0px !important;
}

.mat-mdc-footer-row th:first-child,
.mat-mdc-footer-row th:last-child {
    /* Stili applicati al primo mat-header-row */
    border-radius: 0px 0px 28px 28px !important;
}

.mat-mdc-footer-row {
    height: 28px !important;
}

::ng-deep mat-form-field{
   margin-bottom: -1.25em;
}

mat-radio-group {
    padding: 3.3px;
}

.mat-mdc-radio-button:nth-child(2) {
  margin-left: 16px;
}

.mat-mdc-radio-button:nth-child(3) {
  margin-left: 16px;
}

a {
    background-color: var(--secondary-color);
}

::ng-deep .mat-mdc-menu-panel {
    background-color: var(--secondary-color) !important;
    border-radius: 28px !important;
}

.space-from-left {
    margin-left: 14px;
}

.mat-sort-header-container {
  align-items: center;
}

tr th:last-child,
tr td:last-child {
    text-align: right;
}

.text {
    margin-left: 14px;
}

.add {
    color: var(--primary-color);
}

.add:hover {
    color: var(--primary-color);
}