.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.container {
  height: 100%;
  text-align: center;
}

.container > * {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

mat-toolbar {
  max-width: 100% !important;
  background-color: transparent;
  border-bottom: 1px solid var(--fourth-color);
}

mat-toolbar-row {
  max-width: 1500px !important;
  margin: auto;
}

.example-icon {
  padding: 0;
}

.example-spacer {
  flex: 1 1 auto;
}