.container {
    background: var(--fifth-color);
    background: radial-gradient(circle, var(--fifth-color) 3%, var(--secondary-color) 72%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
}

mat-card {
    background-color: var(--secondary-color);
    width: 100%;
    max-width: 350px;
}

mat-card,
mat-card-header {
    margin: auto;
}

mat-form-field,
button {
    width: 100%;
}

.resend:hover,
.recovery:hover {
    cursor: pointer;
}

.comeback {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: fit-content;
    margin: auto;
}

.comeback > span {
    margin-top: auto;
    margin-bottom: auto;
}

.comeback:hover {
    cursor: pointer;
}